* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-family: "Metropolis", sans-serif;
}

.logo {
  width: 150px;
  height: auto;
  background-image: url("images/mon-image.jpg");
  background-size: cover; /* adapte l’image à la taille de la div */
  background-position: center; /* centre l’image */
  background-repeat: no-repeat; /* évite que l’image se répète */
  border-radius: 10px;
}

header {
  text-align: center;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
  background-image: url("https://yt3.googleusercontent.com/OZt_yEzqzYrWmBU-Edpdj2j2U12sun73iCO2fsGNGIRKkRyOLtSv9XI2fLfuOG1ueoKIgQOv_w=w2276-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj");
  background-size: cover; /* garde l’effet plein écran */
  background-position: center; /* centre l’image */
  height: 300px;
}

.intro {
  color: rgb(0, 0, 0);
  font-family: "Metropolis", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
  padding: auto;
  text-align: center;
  line-height: 2;
}

section {
  padding: 40px 20px;
  text-align: center;
}

/* Mise en page de la liste */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 250px;
  margin: 0;
  justify-content: center;
  border-radius: 20px;
}

/* Style des liens */
.nav-links li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px; /* coins arrondis */
  display: inline-block; /* pour que le padding s’applique correctement */
}

/* Couleurs différentes pour chaque lien */
.nav-links li:nth-child(1) a {
  background-color: #f4f7f4; /* rouge corail */
}

.nav-links li:nth-child(2) a {
  background-color: #4ecdc4; /* turquoise */
}

.nav-links li:nth-child(3) a {
  background-color: #ffe66d; /* jaune pastel */
  color: #333; /* texte sombre pour contraste */
}

.nav-links li:nth-child(4) a {
  background-color: #1a535c; /* bleu foncé */
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  margin-top: 20px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* format 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  border-radius: 12px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
